USE [221_Magomedaliev]
GO
/****** Object:  Table [dbo].[Отчет по оплате]    Script Date: 06.05.2025 12:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчет по оплате](
	[Собственник] [varchar](50) NULL,
	[Адрес] [varchar](50) NULL,
	[Квартира] [varchar](50) NULL,
	[Период] [varchar](50) NULL,
	[Начислено] [varchar](50) NULL,
	[Оплачено] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Список жилого фонда]    Script Date: 06.05.2025 12:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Список жилого фонда](
	[№] [varchar](50) NULL,
	[Адрес] [varchar](50) NULL,
	[Начало управления] [varchar](50) NULL,
	[Этажей] [varchar](50) NULL,
	[Квартир] [varchar](50) NULL,
	[Год] [varchar](50) NULL,
	[Площадь м2] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Список задолженностей]    Script Date: 06.05.2025 12:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Список задолженностей](
	[Адрес] [varchar](50) NULL,
	[Квартира] [varchar](50) NULL,
	[Владелец] [varchar](50) NULL,
	[Телефон] [varchar](50) NULL,
	[Вода] [varchar](50) NULL,
	[Электроэнергия] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Отчет по оплате] ([Собственник], [Адрес], [Квартира], [Период], [Начислено], [Оплачено]) VALUES (N'Шевченко Ольга Викторовна', N'ул. Матросова, 179а, Светлоград', N'1', N'Март 2025', N'3725,84', N'3725,84')
INSERT [dbo].[Отчет по оплате] ([Собственник], [Адрес], [Квартира], [Период], [Начислено], [Оплачено]) VALUES (N'Мазалова Ирина Львовна', N'ул. Матросова, 179а, Светлоград', N'2', N'Март 2025', N'2914,56', N'')
INSERT [dbo].[Отчет по оплате] ([Собственник], [Адрес], [Квартира], [Период], [Начислено], [Оплачено]) VALUES (N'Семеняка Юрий Геннадьевич', N'ул. Матросова, 179а, Светлоград', N'3', N'Март 2025', N'4210,48', N'4210,48')
GO
INSERT [dbo].[Список жилого фонда] ([№], [Адрес], [Начало управления], [Этажей], [Квартир], [Год], [Площадь м2]) VALUES (N'1', N'ул. 45 Параллель, 4/2, Ставрополь', N'22.04.2015', N'9', N'52', N'2001', N'1978.7')
INSERT [dbo].[Список жилого фонда] ([№], [Адрес], [Начало управления], [Этажей], [Квартир], [Год], [Площадь м2]) VALUES (N'2', N'ул. Васильева, 1, Ставрополь', N'22.04.2015', N'9', N'144', N'1983', N'7950.4')
INSERT [dbo].[Список жилого фонда] ([№], [Адрес], [Начало управления], [Этажей], [Квартир], [Год], [Площадь м2]) VALUES (N'3', N'ул. Доваторцев, 66/2, Ставрополь', N'01.11.2020', N'9', N'102', N'1984', N'3176.4')
GO
INSERT [dbo].[Список задолженностей] ([Адрес], [Квартира], [Владелец], [Телефон], [Вода], [Электроэнергия]) VALUES (N'ул. Матросова, 179а, Светлоград', N'2', N'Мазалова Ирина Львовна', N'89185647218', N'2455,20', N'7541,81')
INSERT [dbo].[Список задолженностей] ([Адрес], [Квартира], [Владелец], [Телефон], [Вода], [Электроэнергия]) VALUES (N'ул. Матросова, 179а, Светлоград', N'4', N'Савельев Олег Иванович', N'89287815445', N'14567,56', N'48517,25')
INSERT [dbo].[Список задолженностей] ([Адрес], [Квартира], [Владелец], [Телефон], [Вода], [Электроэнергия]) VALUES (N'ул. Матросова, 179а, Светлоград', N'8', N'Байчорова Агата Рустамовна', N'89643324574', N'178451,00', N'257891,10')
GO
